body {
  text-align: center;
  font-family: sans-serif;
}

.Carta{
  text-align: center;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.CharImg {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.CharNom{
  width: 50%;
  margin: 0 auto;
  padding: 0;
}

.CharDat{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}
